body,
h1,
h2,
p,
ul,
li {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  color: black;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
